<div class="mb-2">
  {{ form_start(form) }}

  {{ form_widget(form.content) }}

  <div class="gap-2 flex">
    {{ form_widget(form.topic) }}
    {{ form_widget(form.post) }}
  </div>

  {{ form_end(form) }}
</div>



